<style>
    .infoPlacement {
        margin-top: 20px;
        overflow: auto;
        position: relative;
    }

    .infoPlacement #screenshot {
        margin: auto;
        display: block;
    }

    .infoPlacement heatmap {
        position: absolute !important;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="page-header">
    <h1>{{vm.host.host}}
        <small>{{vm.scenario.name}}</small>
    </h1>
</div>

<div>
    <div class="col-sm-6">
        <div class="row">
            <label class="col-sm-4">Path</label>
            <div class="col-sm-8">
                <select class="form-control" id="mySelect" ng-model="vm.config.path"
                        ng-options="path for path in vm.paths"></select>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4">Start</label>
            <div class="col-sm-8">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="vm.config.startDate"
                           ng-change="vm.onChange()"
                           is-open="dateFilterStart.opened" close-text="Close"
                           min-date="vm.scenario.startDate" max-date="vm.config.endDate"/>
                                <span class="input-group-btn">
                                <button type="button" class="calendar" style="background-image: url(img/calendar_2.png);" ng-click="dateFilterStart.opened = true;">
                            </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <label class="col-sm-4">Screen width</label>
            <div class="col-sm-8">
                <select class="form-control"
                        ng-model="vm.config.screenWidth"
                        ng-change="vm.onChange()"
                        ng-options="screenWidth as screenWidth.value for screenWidth in vm.screenWidths"></select>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4">End</label>
            <div class="col-sm-8">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="vm.config.endDate"
                           ng-change="vm.onChange()"
                           is-open="dateFilterEnd.opened" close-text="Close"
                           min-date="vm.config.startDate" max-date="vm.scenario.endDate"/>
                                <span class="input-group-btn">
                                <button type="button" class="calendar" style="background-image: url(img/calendar_2.png);" ng-click="dateFilterEnd.opened = true;">
                            </span>
                </p>
            </div>
        </div>
    </div>

    <button class="btn btn-default" ng-click="vm.search()" ng-disabled="false">Search</button>
</div>

<span class="glyphicon glyphicon-repeat spin " style="font-size: 60px; left: 50%; margin-top: 50px;" ng-show="vm.generatingScreenshot"></span>
<div class="infoPlacement" ng-show="!vm.generatingScreenshot">
    <div id="infoPlacement" style="position: relative;">
        <img id="screenshot" ng-src="data:image/png;base64,{{vm.screenshotSrc}}"/>
        <heatmap id="heatmap" data="vm.heatmapData" config="vm.heatmapConfig" ng-if="vm.enableHeatmap"></heatmap>
    </div>
</div>
