<div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="scenarioName">Scenario name:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="scenarioName" placeholder="Scenario name"
                   ng-model="vm.scenario.name" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3">Actions:</label>
        <div class="col-xs-9">
            <multiselect ng-model="vm.scenario.eventsToTrack" ng-required="true" options="vm.eventsToTrack"></multiselect>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="trackDuration">Track duration in minutes:</label>
        <div class="col-xs-9">
            <div class="input-group">
                <input type="number" class="form-control" id="trackDuration" placeholder="60"
                       ng-model="vm.scenario.trackDuration" required>
                <span class="input-group-addon">min</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="amountToTrack">Amount to track:</label>
        <div class="col-xs-9">
            <input type="number" class="form-control" id="amountToTrack" min="1" max="100"
                   placeholder="2000" ng-model="vm.scenario.amountToTrack" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="trackPercentage">Track percentage:</label>
        <div class="col-xs-9">
            <input type="number" class="form-control" id="trackPercentage" min="1" max="100"
                   placeholder="2000" ng-model="vm.scenario.trackPercentage" required>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-xs-3">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#advanced-{{vm.scenario.id}}">Show advanced</button>
        </div>
    </div>
    <div id="advanced-{{vm.scenario.id}}" class="collapse">
        <div class="form-group">
            <label class="control-label col-xs-3" for="amountToTrack">Start date:</label>
            <div class="col-xs-9 input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" close-text="Close"
                       ng-model="vm.scenario.startDate" ng-required="true" is-open="dateFilterStartOpened"/>
                <span class="input-group-btn">
                    <button type="button" class="calendar" style="background-image: url(img/calendar_2.png);" ng-click="dateFilterStartOpened = true;">
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="amountToTrack">End date:</label>
            <div class="col-xs-9 input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" close-text="Close"
                       ng-model="vm.scenario.endDate" ng-required="true" is-open="dateFilterEndOpened"/>
                <span class="input-group-btn">
                    <button type="button" class="calendar" style="background-image: url(img/calendar_2.png);" ng-click="dateFilterEndOpened = true;">
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>