<div class="header dark-bg" style="clear: both">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
            <i class="icon_menu"></i>
        </div>
    </div>

    <a ui-sref="dashboard.hosts" class="logo">UX <span class="lite">Trackers</span></a>

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu" style="cursor: pointer;">
            <!-- task notificatoin start -->
            <li id="task_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <span class="icon-task-l"></span>
                    <span class="badge bg-important">{{vm.hosts.length}}</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">You have {{vm.hosts.length}} hosts.</p>
                    </li>
                    <li ng-repeat="host in vm.hosts| limitTo:5">
                        <a>
                            <div class="task-info">
                                <div class="desc">
                                    <b>{{host.host}}<b>
                                </div>
                                <div class="percent" ng-show="host.activeScenario">{{host.progress}}%</div>
                                <p ng-show="!host.activeScenario">Not active</p>
                            </div>
                            <div class="progress progress-striped" ng-show="host.activeScenario">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
                                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': host.progress + '%'}">
                                    <span class="sr-only">{{host.progress}}% Complete</span>
                                </div>
                            </div>
                        </a>
                    </li>
<!--
                    <li>
                        <a>
                            <div class="task-info">
                                <div class="desc">Design PSD</div>
                                <div class="percent">90%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90% Complete (success)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="task-info">
                                <div class="desc">
                                    Project 1
                                </div>
                                <div class="percent">30%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                    <span class="sr-only">30% Complete (warning)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="task-info">
                                <div class="desc">Digital Marketing</div>
                                <div class="percent">80%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="task-info">
                                <div class="desc">Logo Designing</div>
                                <div class="percent">78%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                    <span class="sr-only">78% Complete (danger)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="task-info">
                                <div class="desc">Mobile App</div>
                                <div class="percent">50%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                        </a>
                    </li>-->
                    <li class="external">
                        <a ui-sref="dashboard.details">See All Hosts</a>
                    </li>
                </ul>
            </li>
            <!-- task notificatoin end -->

            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <!--<span class="profile-ava"></span>-->
                    <span class="username">Menu</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <!--<li class="eborder-top">
                        <a><i class="icon_profile"></i> My Profile</a>
                    </li>
                    <li>
                        <a><i class="icon_mail_alt"></i> My Inbox</a>
                    </li>-->
                    <li>
                        <a ui-sref="dashboard.documentation"><i class="icon_key_alt"></i> Documentation</a>
                    </li>
                    <li>
                        <a ng-click="vm.signOut()"><i class="icon_key_alt"></i>Log out</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</div>